@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=trocar');
html, body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto', sans-serif;
    
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: #000000;

}
nav .Logosite{
    float: left;
    width: 70px;
}
/*configuração navegação*/
nav a{
    display: block;
    width: auto;
    height: 56px;
    padding: 4px;
    float: left;
    background: rgb(0, 0, 0);
    line-height: 53px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-style: oblique;


}
form{
    width: 1000px;
    margin: 0 auto;
    background-color:#d4d4d4;

}
div.nomes{
    width: 100%;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	margin-left: 2%;
}
.nomes input{
    width: 100%;
	height: 45px;
	border: 1px solid #242424;
	text-indent: 15px;
	border-radius: 5px;
	
}
.emails input{
    width: 100%;
	height: 45px;
	border: 1px solid #242424;
	text-indent: 15px;
	border-radius: 5px;

}

